
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="{{asset('assets/tagsInput/dist/bootstrap-tagsinput.css')}}">
<style type="text/css">
	.bootstrap-tagsinput{width: 100%;}
</style>
<h2 class="form-head">{{action}} d'une equipe</h2>
<form id="formEquipe" name="formEquipe">
    <div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		        <input type="text" name="nom" class="form-control" placeholder="nom de l'equipe" value="{{equipe.nom}}">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		        <input type="text" name="joueurs" class="form-control" value="{{equipe.joueurs}}" data-role="tagsinput" />
		    </div>
		</div>
	</div>

    <button class="submit">Enregistrer</button>
</form>
<script src="{{asset('assets/tagsInput/dist/bootstrap-tagsinput.min.js')}}"></script>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formEquipe");
		form.addEventListener('submit', function(ev) {
			$('.lds-ripple').css('display', 'block');
			$.ajax({
		        url:"{{url}}",
		        type:"POST",
		        data:$('#formEquipe').serialize(),
		        success:function(response) {
		        	$('#formEquipe')[0].reset();
		        	$('.lds-ripple').css('display', 'none');
		        	$(".success-checkmark").show().delay(3000).fadeOut();
                	$(".check-icon").show().show().delay(3000).fadeOut();
                	demo.showNotification.success("Enregistrement effectué avec success");
                	location.reload(true);
		        },
		        error:function(){
		        	demo.showNotification.error("echec enregistrement");
		        	$('.lds-ripple').css('display', 'none');
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});
</script>