
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Resultat {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/finale.css')}}" rel="stylesheet" />
    <style type="text/css"></style>
{% endblock %}

{% block id_tournoi %}{{tournoi.id}}{% endblock %}
{% block tournoi_etat %}{{tournoi.etat}}{% endblock %}
{% block date_debut %}{{tournoi.dateDebut|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{dateFin}}{% endblock %}


{% block page %}   
    <div ng-app="MatchModule">
        <div ng-controller="Match" class="controller" data-page="finale">  
            <h1 class="page-title-finale">FINALE</h1>
            <div class="terrain-wrapper">
                <span class="terrain-name">[[ matchs[0].terrain ]]</span>
            </div>
            <div class="cols-list finale">
                <div class="cols-item" ng-repeat="item in matchs[0].equipes track by $index">
                    <h3 class="item-title" ng-cloak>[[item.nom]]</h3>
                    <div class="list-elt-container">
                        <ul class="list-elt">
                            <li class="item-elt" ng-repeat="joueur in item.joueurs" ng-cloak>
                                [[joueur]]
                            </li>
                        </ul>
                    </div>
                    <div class="sub-col-foot">
                        <span class="score" ng-cloak>[[ matchs[0].score[$index] ]]</span>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ include('website/configAngular/configMatchAngular.js.twig') }}
    <script src="{{asset('assets/angular/Match/js/module.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/directive.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/service.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/controller.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/route.js') }}" type="text/javascript"></script> 
    <script type="text/javascript">
        $(document).ready(function(){
            $(window).bind("load", function() {
              {% if tournoi and (tournoi.etat == "en_cours") %}
                chronoStart();
              {% endif %}
            });
        })
    </script>
{% endblock %}

