
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Accueil {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/home.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/website/resultat.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/website/finale.css')}}" rel="stylesheet" />

    <link rel="stylesheet" href="{{asset('assets/owlcarousel/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/owlcarousel/assets/owl.theme.default.min.css')}}">
    <script src="{{asset('assets/owlcarousel/owl.carousel.js')}}"></script>

    <style type="text/css">
        .no-beguin{
            text-align: center;
            width: 100%;
        }
        .historique-wrapper{
            text-align: center;
            margin-top: 60px;
            font-size: 16px;
        }
        .historique-wrapper img.chevron{
            height: 16px;
            display: block;
            margin: auto;
            cursor: pointer;
        }
        .separate-match-end {
            border-top: 1px solid gray;
            margin-top: 25px;
            padding-top: 5px;
        }
        .historique-wrapper .row-separate {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .historique-wrapper .separate-item {
            border: 1px solid #fff;
            width: 8%;
            background: #fff;
            display: block;
            height: 1px;
        }
        .score-wrapper .score-item.separate-match-end{
            position: relative;
            padding-top: 50px;
        }
        .new-tour-separate{
            display: none;
            position: absolute;
            top: 5px;
            width: 100%;
            text-align: center;
        }
        .score-wrapper .score-item.separate-match-end > .new-tour-separate{display: block}
        .score-wrapper .score-item{
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% block id_tournoi %}{{tournoi.id}}{% endblock %}
{% block tournoi_etat %}{{tournoi.etat}}{% endblock %}
{% block logo_compagnie %}{{tournoi.logo}}{% endblock %}
{#{% block date_debut %}{{tournoi.dateDebut|date('Y-m-d H:i:s')}}{% endblock %}#}
{% block date_end_tournoi %}{{dateFinTournoi|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_debut %}{{debutPassage|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{ (FinPassage is null) ?  "" : FinPassage|date('Y-m-d H:i:s')}}{% endblock %}
{% block first_match_playing_id %}{{first_match_playing_id}}{% endblock %}

{% block page %}        
    <div id="preloader"></div>
    <!-- Start Homepage -->
    <div ng-app="MatchModule">
        <div ng-controller="Match" class="controller" data-page="index">
            <h2 class="no-beguin" ng-if="tournoi.etat == 'en_attente' ">Ce Tournoi n'a pas encore commencé</h2>

            <div class="owl-carousel owl-theme">
                <div class="item screen-item">
                    <div class="screen-jeux" style="display:none">
                        <h2 class="screen-title">Matchs en cours</h2>
                        <h3 class="cols-list" ng-if="(!matchsEncour.length)" style="text-align:center">
                            Aucun match en cours
                        </h3>
                        <div class="cols-list">
                            <div class="cols-item" ng-repeat="item in matchsEncour | orderBy: '+terrain'  ">
                                <h2 class="col-title" ng-cloak>[[item.terrain]]</h2>
                                <div class="sub-col-list">
                                    <div class="list-item" ng-repeat="eqp in item.equipes track by $index">
                                        <h3 class="sub-title" ng-cloak>[[eqp.nom]]</h3>
                                        <ul class="list-elt">
                                            <li class="item-elt" ng-repeat="joueur in eqp.joueurs" ng-cloak>
                                                [[joueur]]
                                            </li>
                                        </ul>
                                        <div class="sub-col-foot">
                                            <span class="score" ng-class="(item.vainqueur == eqp.id) ? 'winner' : ''" ng-cloak>
                                                [[ item.score[$index] ]]
                                            </span>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="screen-finale" style="display:none">
                        <h1 class="page-title-finale">FINALE</h1>
                        <div class="finale-container">
                            <div class="terrain-wrapper">
                                <span class="terrain-name">[[ matchsEncour[0].terrain ]]</span>
                            </div>
                            <div class="cols-list finale">
                                <div class="cols-item" ng-repeat="item in matchsEncour[0].equipes track by $index">
                                    <h3 class="item-title" ng-cloak>[[item.nom]]</h3>
                                    <div class="list-elt-container">
                                        <ul class="list-elt">
                                            <li class="item-elt" ng-repeat="joueur in item.joueurs" ng-cloak>
                                                [[joueur]]
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="sub-col-foot">
                                        <span class="score" ng-cloak>[[ matchsEncour[0].score[$index] ]]</span>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item screen-item screen-jeux match-attente">
                    <h2 class="screen-title">Matchs en attentes</h2>
                    <h2 class="no-beguin" ng-if="(tournoiEnattente.etat != 'en_attente') && !(matchsEnattente.length)">Pas de matchs en attentes</h2>

                    <div class="cols-list" ng-if="(matchsEnattente.length)">
                        <div class="cols-item" ng-repeat="item in matchsEnattente">
                            <center>[[item.date_debut]] - [[item.date_fin]]</center>
                            <h2 class="col-title" ng-cloak>[[item.terrain]]</h2>
                            <div class="sub-col-list">
                                <div class="list-item" ng-repeat="eqp in item.equipes track by $index">
                                    <h3 class="sub-title" ng-cloak>[[eqp.nom]]</h3>
                                    <ul class="list-elt">
                                        <li class="item-elt" ng-repeat="joueur in eqp.joueurs" ng-cloak>
                                            [[joueur]]
                                        </li>
                                    </ul>
                                    <div class="sub-col-foot">
                                        <span class="score">
                                            0
                                        </span>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item screen-item screen-score">
                    <h2 class="screen-title">Scores des matchs</h2>
                    <div class="score-wrapper">
                        <ul class="list-score">
                            <li class="score-item" ng-repeat="item in matchsEncour">
                                <div class="group-equipe">
                                    <span ng-cloak>[[item.equipes[0].nom]]</span> 
                                    <span class="separate"></span>
                                    <span ng-cloak>[[item.equipes[1].nom]]</span>
                                </div> 
                                <div class="groupe-score">
                                    <span class="score" ng-class="(item.vainqueur == item.equipes[0].id) ? 'winner' : ''" ng-cloak>[[ item.score[0] ]]</span>
                                    <span class="score" ng-class="(item.vainqueur == item.equipes[1].id) ? 'winner' : ''" ng-cloak>[[ item.score[1] ]]</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="historique-wrapper">
                        <h1 class="row-separate">
                            <span class="separate-item"></span>
                            <span class="historique-title" style="padding: 0 14px;">Historiques scores precedents match</span>
                            <span class="separate-item"></span>
                        </h1>

                        <div class="score-wrapper" style="padding-top: 0">
                            <ul class="list-score">
                                <li class="score-item" ng-repeat="item in matchsTermine" ng-class=" (item.new_tour != '' ) ? 'separate-match-end' : '' ">
                                    <h4 class="new-tour-separate">[[item.new_tour]]e tour</h4>
                                    <div class="group-equipe">
                                        <span ng-cloak>[[item.equipes[0].nom]]</span> 
                                        <span class="separate"></span>
                                        <span ng-cloak>[[item.equipes[1].nom]]</span>
                                    </div> 
                                    <div class="groupe-score">
                                        <span class="score" ng-class="(item.vainqueur == item.equipes[0].id) ? 'winner' : ''" ng-cloak>[[ item.score[0] ]]</span>
                                        <span class="score" ng-class="(item.vainqueur == item.equipes[1].id) ? 'winner' : ''" ng-cloak>[[ item.score[1] ]]</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Homepage -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ include('website/configAngular/configMatchAngular.js.twig') }}
    <script src="{{asset('assets/angular/Match/js/module.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/directive.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/service.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/controller.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/route.js') }}" type="text/javascript"></script> 

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:0,
            nav:false,
            autoplay:true,
            autoplayTimeout:10000,
            items:1,
            autoHeight:true
        });
        /*$('.owl-carousel .owl-nav button.owl-prev >span').html("<img src='https://www.howard-avocats.com/assets/images/static/chevron-right.png' style='transform:rotate(180deg);margin-left: -14px;'>");
        $('.owl-carousel .owl-nav button.owl-next >span').html("<img src='https://www.howard-avocats.com/assets/images/static/chevron-right.png' style='margin-right: -14px;'>");*/
    </script>
{% endblock %}

