
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Accueil {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/home.css')}}" rel="stylesheet" />
    <style type="text/css"></style>
{% endblock %}

{% block page %}        
    <!-- Start Homepage -->
    <div class="cols-list">
        {% for item in matchs %}
            <div class="cols-item">
                <h2 class="col-title">{{item.terrain2.nom}}</h2>
                <div class="sub-col-list">
                    <div class="list-item">
                        <h3 class="sub-title">{{item.equipes[0].nom}}</h3>
                        <ul class="list-elt">
                            {% for joueur in item.equipes[0].joueurs|split(',') %}
                                <li class="item-elt">{{joueur}}</li>
                            {% endfor %}
                        </ul>
                        <div class="sub-col-foot">
                            <span class="score winner">
                                {{ (item.score is null) ? "0": (item.score|split('-'))[0] }}
                            </span>
                        </div>  
                    </div>
                    <div class="list-item">
                        <h3 class="sub-title">{{item.equipes[1].nom}}</h3>
                        <ul class="list-elt">
                            {% for joueur in item.equipes[1].joueurs|split(',') %}
                                <li class="item-elt">{{joueur}}</li>
                            {% endfor %}
                        </ul>
                        <div class="sub-col-foot">
                            <span class="score">
                                {{ (item.score is null) ? "0":(item.score|split('-'))[1] }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- End Homepage -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        /*var chrono ="00:00:00";
        var storageDate = {};
        function initCrono(){
            if(localStorage.getItem("2")){
                storageDate = JSON.parse(localStorage.getItem("2"));
                var date_debut = storageDate.date_debut;
                var diffDate = new Date(new Date() - new Date(date_debut));
                chrono = (diffDate.getHours()-1) + ":"  
                    + diffDate.getMinutes() + ":" 
                    + diffDate.getSeconds();
            }
            else{
                var dataInfo = {tournoi:"2", date_debut: "2020-03-02 13:30", date_fin: "2020-03-02 22:30"};
                localStorage.setItem("2", JSON.stringify(dataInfo));  
            }
        }
        initCrono();
        console.log(chrono);

        if(new Date() < new Date(storageDate.date_fin)){
            console.log('expiré');
            localStorage.removeItem("2");
        }*/
    </script>
{% endblock %}

