
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Match en attente {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/home.css')}}" rel="stylesheet" />
    <style type="text/css">
        .no-beguin{
            text-align: center;
            width: 100%;
        }
    </style>
{% endblock %}

{% block id_tournoi %}{{tournoi.id}}{% endblock %}
{% block tournoi_etat %}{{tournoi.etat}}{% endblock %}
{% block logo_compagnie %}{{tournoi.logo}}{% endblock %}
{#{% block date_debut %}{{tournoi.dateDebut|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{dateFin}}{% endblock %}#}
{% block date_debut %}{{debutPassage|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{FinPassage|date('Y-m-d H:i:s')}}{% endblock %}

{% block page %}        
    <!-- Start Homepage -->
    <div ng-app="MatchModule">
        <div ng-controller="Match" class="controller" data-page="match_attente">
            <h1 class="no-beguin">Matchs en attentes</h1>
            <h2 class="no-beguin" ng-if="tournoi.etat == 'en_attente' ">Ce Tournoi n'a pas encore commencé</h2>
            <h2 class="no-beguin" ng-if="(tournoi.etat != 'en_attente') && !(matchs.length)">Pas de matchs en attentes</h2>

            <div class="cols-list" ng-if="(matchs.length)">
                <div class="cols-item" ng-repeat="item in matchs">
                    <h2 class="col-title" ng-cloak>[[item.terrain]]</h2>
                    <div class="sub-col-list">
                        <div class="list-item" ng-repeat="eqp in item.equipes track by $index">
                            <h3 class="sub-title" ng-cloak>[[eqp.nom]]</h3>
                            <ul class="list-elt">
                                <li class="item-elt" ng-repeat="joueur in eqp.joueurs" ng-cloak>
                                    [[joueur]]
                                </li>
                            </ul>
                            <div class="sub-col-foot">
                                <span class="score">
                                    0
                                </span>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Homepage -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ include('website/configAngular/configMatchAngular.js.twig') }}
    <script src="{{asset('assets/angular/Match/js/module.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/directive.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/service.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/controller.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/angular/Match/js/route.js') }}" type="text/javascript"></script> 
{% endblock %}

