
{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} - Tableau de bord {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style type="text/css">
      .add-tournoi{display: inline-block;}
        form label{
          color:gray;
          font-size: 17px;
          margin: 0;
        }
        a, a:hover, a:active, a:focus{color: #7B7575;}
        .card-body.head-estimation{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .btn-demarrer-tournoi {
          background: #1DC7EA;
          color: #fff;
          padding: 7px 9px;
          border-radius: 4px;
          font-size: 19px;
          box-shadow: -1px 0px 5px #a6a6a6;
          font-weight: 600;
          letter-spacing: -1px;
          cursor: pointer;
        }
        .btn-demarrer-tournoi:hover{
          color: #fff;
        }
        .evolution-match .card-header{
          border-bottom: 1px solid #D7D7D7 !important;
          padding-bottom: 9px;
        }
        .evolution-match a, .evolution-match a:hover, 
        .evolution-match a:active, .evolution-match a:focus{color: #7B7575;}
        .timmer-tour-wrapper{
          position: relative;
          text-align: center;
          color: #7B7575;
          font-size: 16px;
        }
        .timmer-tour-wrapper .current-tour{
          font-size: 24px;
          font-weight: bold;
          cursor: no-drop;
        }
        .timmer-tour-wrapper .btn-next-tour, .timmer-tour-wrapper .btn-next-tour:hover{
          top: 0;
          position: absolute;
          right: 0;
          background: #1DC7EA;
          color: #fff;
          padding: 7px 9px;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: -1px;
          cursor: pointer;
        }
        .evolution-match .card-body{
            background: url(../assets/img/sidebar-5.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            color: #fff;
        }
        .evolution-match .card-body .cart-body-content{position: relative;}
        .cart-body-content .list-match {
            max-width: 560px;
            margin: auto;
            padding-top: 45px;
        }
        .cart-body-content .list-match .status-match {
            color: #534D4D;
            text-align: center;
            padding-bottom: 3px;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
        }
        .cart-body-content .match-item{
            margin-bottom: 21px;
            transition: transform .2s;
        }
        .cart-body-content .match-item:hover{
            transform: scale(.9);
        }
        .cart-body-content .match-item .match-content{
            position: relative;
            display: flex;
            align-content: center;
            box-shadow: 9px 12px 14px#a6a6a6;
            border-radius: 93px 93px 93px 93px;
            color: #fff
        }
        .cart-body-content .match-item .equipe {
            flex: 1;
            position: relative;
            padding: 10px 2px;
            background-image: radial-gradient(#5f6e9a, #1f2a55);
            height: 45px;
        }
        .cart-body-content .match-item .equipe:nth-child(1){
            border-radius: 93px 0 0 90px;
        }
        .cart-body-content .match-item .equipe:nth-child(2){
            border-radius: 0 93px 93px 0;
            text-align: right;
            padding-right: 46px;
        }
        .cart-body-content .match-item .equipe .nom-equipe{
          padding-left: 2px;
        }
        .cart-body-content .equipe .avt-equipe {
            background: red;
            width: 44px;
            height: 44px;
            display: ;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
        .cart-body-content .equipe:nth-child(1) .avt-equipe{
            left: -8px;
        }
        .cart-body-content .equipe:nth-child(2) .avt-equipe{
            right: -8px;
        }
        .cart-body-content .match-item .equipe .nom-equipe {
            padding-left: 46px;
        }
        .cart-body-content .match-item .score {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 50px;
            background: #125DBD;
            padding: 14px 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 13px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            font-weight: 600;
        }
        .evolution-match .demiefinale-finale{
          text-align: center;
          font-size: 19px;
          color: #00BBE1;
          font-weight: 600;
          text-transform: capitalize;
        }
        .evolution-match .card-body:before {
            background-image: radial-gradient(#ffffffb3, #fff);
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .card-header {position: relative;}
        .card-header .add-new{
            position: absolute;
            bottom: -4px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background:#1DC7EA;
            color:#fff;
            right: 9px;
            cursor: pointer;
            box-shadow: -3px 2px 10px #a6a6a6;
            color: #fff!important;
        }
        .card-title{
            text-align: center;
        }
        .cart-list-elt{
            padding-left: 15px;
        }
        .cart-list-elt .cart_list_item{
            padding: 11px 0 6px 0;
            border-top: 1px solid #D7D7D7;
        }
        .cart-list-elt .cart_list_item_title .round-equipe-avt{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            text-transform: lowercase;
            margin-right: 16px;
            margin-left: 10px;
        }
        .cart-list-elt .cart_list_item_title .link-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #7B7575;
        }
        .cart_list_item_title .link-item  .group-eqp-avt {
            flex: 1;
            display: flex;
            align-items: center;
        }
        .cart-list-elt .cart_list_item_title .status{
            font-size: 12px;
            font-style: italic;
            display: block;
            text-transform: lowercase;
            color: #CC323C;
        }
        .cart-list-elt li{
            position: relative;
        }
       
        .cart-list-elt li .sa_alert_value{
            font-size: 18px;
            font-weight: 700;
        }
        .cart_list_item_title  .sa_alert_value.btn-edit{
            font-size: 10px;
            padding: 3px 11px;
        }
        .cart-list-elt .cart_list_item_content > ul{
            padding-left: 20px;
            padding-top: 8px;
        }
        .cart-list-elt .cart_list_item_content .sub-item-list{
            font-size: 13px;
            text-transform: capitalize;
        }
        .cart-list-elt .cart_list_item_content .sub-item-list i{
            font-size: 8px;
            font-weight: 600;
            color:gray;
        }
        .cart_list_item_content .group-btn-action{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 2px 6px;
            margin-top: 15px;
        }
        .cart-list-elt .btn-action{
            color:#fff;
            padding: 4px 16px;
            border-radius: 15px;
            font-size: 12px;
            text-transform: lowercase;
        }
        .cart-list-elt .btn-edit{
            margin-right: 7px;
            background:#FF9500;
        }
        .cart-list-elt .btn-illimine{
            background:#FF4A55;
        }


        /******* modalForm css *************/

        .box {
          width: 40%;
          margin: 0 auto;
          background: rgba(255,255,255,0.2);
          padding: 35px;
          border: 2px solid #fff;
          border-radius: 20px/50px;
          background-clip: padding-box;
          text-align: center;
        }

        .button {
          font-size: 1em;
          padding: 10px;
          color: #fff;
          border: 2px solid #06D85F;
          border-radius: 20px/50px;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-out;
        }
        .button:hover {
          background: #06D85F;
        }

        #modalFormAdd {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
        }
        #modalFormAdd.open {
          visibility: visible;
          opacity: 1;
        }
        #modalFormAdd form{
          margin-top: 40px;
        }
        #modalFormAdd form .form-control {
          border-radius: 4px!important;
          border: 1px solid #E3E3E3!important;
        }
        .popup {
          margin: 70px auto;
          padding: 20px;
          background: #fff;
          border-radius: 5px;
          width: 550px;
          position: relative;
          transition: all 5s ease-in-out;
        }

        .popup h2 {
          margin-top: 0;
          color: #333;
          font-family: Tahoma, Arial, sans-serif;
        }
        .popup .close {
          position: absolute;
          top: 0px;
          right: 20px;
          transition: all 200ms;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: #333;
        }
        .popup .close:hover {
          color: #32325d;
        }

        @media screen and (max-width: 700px){
          .box{
            width: 70%;
          }
          .popup{
            width: 70%;
          }
        }

        #modalFormAdd button.submit {
            cursor: pointer;
            display: inline-block;
            height: 40px;
            width: 100%;
            margin-top: 40px;
            font-size: 15px;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0.025em;
            text-decoration: none;
            white-space: nowrap;
            background: #32325d;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            -webkit-transition: all 150ms ease;
            transition: all 150ms ease;
        }
        #modalFormAdd .form-head{
            color: #333;
            margin: 0;
            font-size: 22px;
        }
        .lds-ripple {
            display: none;
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50%);
            z-index: 50;
        }
        .lds-ripple div {
          position: absolute;
          border: 4px solid green;
          opacity: 1;
          border-radius: 50%;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }
        .lds-ripple div:nth-child(2) {
          animation-delay: -0.5s;
        }
        @keyframes lds-ripple {
          0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
          }
          100% {
            top: 0px;
            left: 0px;
            width: 72px;
            height: 72px;
            opacity: 0;
          }
        }


        /**
         * Extracted from: SweetAlert
         * Modified by: Istiak Tridip
         */
        .success-checkmark {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 60;
          width: 80px;
          height: 115px;
          margin: 0 auto;
          display: none;
        }
        .success-checkmark .check-icon {
          width: 80px;
          height: 80px;
          position: relative;
          border-radius: 50%;
          box-sizing: content-box;
          border: 4px solid #4CAF50;
          display: none;
        }
        .success-checkmark .check-icon::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
        }
        .success-checkmark .check-icon::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
        }
        .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #FFFFFF;
          transform: rotate(-45deg);
        }
        .success-checkmark .check-icon .icon-line {
          height: 5px;
          background-color: #4CAF50;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
        }
        .success-checkmark .check-icon .icon-line.line-tip {
          top: 46px;
          left: 14px;
          width: 25px;
          transform: rotate(45deg);
          animation: icon-line-tip 0.75s;
        }
        .success-checkmark .check-icon .icon-line.line-long {
          top: 38px;
          right: 8px;
          width: 47px;
          transform: rotate(-45deg);
          animation: icon-line-long 0.75s;
        }
        .success-checkmark .check-icon .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(76, 175, 80, 0.5);
        }
        .success-checkmark .check-icon .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #FFFFFF;
        }

        @keyframes rotate-circle {
          0% {
            transform: rotate(-45deg);
          }
          5% {
            transform: rotate(-45deg);
          }
          12% {
            transform: rotate(-405deg);
          }
          100% {
            transform: rotate(-405deg);
          }
        }
        @keyframes icon-line-tip {
          0% {
            width: 0;
            left: 1px;
            top: 19px;
          }
          54% {
            width: 0;
            left: 1px;
            top: 19px;
          }
          70% {
            width: 50px;
            left: -8px;
            top: 37px;
          }
          84% {
            width: 17px;
            left: 21px;
            top: 48px;
          }
          100% {
            width: 25px;
            left: 14px;
            top: 45px;
          }
        }
        @keyframes icon-line-long {
          0% {
            width: 0;
            right: 46px;
            top: 54px;
          }
          65% {
            width: 0;
            right: 46px;
            top: 54px;
          }
          84% {
            width: 55px;
            right: 0px;
            top: 35px;
          }
          100% {
            width: 47px;
            right: 8px;
            top: 38px;
          }
        }
        .loader-form{display: block;margin: auto;}    
    </style>
{% endblock %}
{% block page_title %}
    {% if tournoi %}
      {{tournoi.nom}} <small>- {{tournoi.type.nom}}</small>
    {% endif %}
{% endblock %}
{% block admin_content %}
  


    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin-bottom:6px">
          <div class="card-header" style="padding-top: 10px;">
              <h4 class="card-title" style="text-align: left;font-size: 19px;">Estimation initiale du tournoi</h4>
          </div>
          <div class="card-body head-estimation">
            {% if tournoi %}
              <div class="legend" style="font-size: 14px">
                  <i class="fa fa-circle text-danger"></i> <b>{{tournoi.getNbrTour}} Tours</b> 
                  <i class="fa fa-circle text-warning"></i> <b>{{dureeTour}} minutes / tour </b> 
                  <i class="fa fa-circle text-info"></i> <b>{{nbrMatch}} Matchs</b> 
              </div>
              {% if (tournoi.getDateDebut is not null) and (tournoi.etat != "termine") %}
                <form name="chronoForm" class="chronotime-wrapper">
                  <h3 id="chronotime" style="margin-top: 5px">0:00:00</h3>
                  <input type="button" name="startstop" value="start!" onClick="chronoStart()" style="display: none;" />
                  <input type="button" name="reset" value="reset!" onClick="chronoReset()" style="display: none;" />
                </form>
              {% endif %}
              {% if tournoi.getDateDebut is null %}
                <a href="{{path('tournoi_launch',{'id':tournoi.id})}}" class="btn-demarrer-tournoi">Demarrer le tournoi</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card evolution-match">
                <div class="card-header ">
                    <h4 class="card-title">Evolution match</h4>
                    {% if demieFinale_finale %}
                      <p class="card-category demiefinale-finale">
                        {{ demieFinale_finale|replace({'_': " "})}}
                      </p>
                    {% endif %}
                </div>
                <div class="card-body ">
                    <div class="cart-body-content">
                      {% if tournoi %}
                        {% if (tournoi.getDateDebut is not null) and (tournoi.etat != "termine") %}
                        <div class="timmer-tour-wrapper chronotime-wrapper">
                          <span style="font-size: 17px;">
                          <span class="current-tour">
                            {{tournoi.getCurrentTour}}<sup class="rang">e</sup>
                          </span>/ {{tournoi.getNbrTour}}<span style="font-size: 12px;">tours</span>
                          </span><br>
                          <span class="timmer-tour">
                            <form name="chronoFormTour" class="chronotime">
                              <h3 id="chronotimetour" style="margin-top: 5px;font-size: 20px;">0:00:00</h3>
                              <input type="button" name="startstop" value="start!" onClick="chronoStartT()" style="display: none;" />
                              <input type="button" name="reset" value="reset!" onClick="chronoResetT()" style="display: none;" />
                            </form>
                          </span>
                          <a class="btn-next-tour" style="" href="{{path('goto_next_tour',{'id':tournoi.id})}}">
                            {% if demieFinale_finale == "finale" %}
                              terminer le tournois
                            {% else %}
                              tour suivant 
                            {% endif %}
                            <i class="nc-icon nc-stre-right" style="font-weight: bold"></i>
                          </a>
                        </div>
                        {% elseif tournoi.etat == "termine" %}
                          <h2  style="color:#333;font-size: 23px;text-align: center;">Tournois terminé</h2>
                          <div class="winner-wrapper" style="color: #333333">
                            <img src="{{asset('images/trophee.png')}}" style="display: block;margin: auto;max-width: 200px;">
                            <div class="equipe-winner-name" style="font-size: 18px; text-align: center;">
                              Vainqueur: <b style="text-transform: uppercase;">{{ winner.nom }}</b>
                              <div class="score"></div>
                            </div>
                          </div>
                        {% endif %}
                        <ul class="list-match">
                          {% for item in matchs %}
                            <li class="match-item">
                                <div class="status-match">{{ item.etat |replace({'_': " "}) }}</div>
                                <a class="match-content goto-update-score" href="{{path('update_score', {'id':item.id})}}" data-score="{{item.score}}" data-equipe="{{item.equipes[0].nom}}-{{item.equipes[1].nom}}" {% if tournoi.etat == "termine" %} style="pointer-events: none;" {% endif %}>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[0].nom|last }}</span>
                                        <span class="nom-equipe">{{item.equipes[0].nom}}</span>
                                    </div>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[1].nom|last }}</span>
                                        <span class="nom-equipe">{{ item.equipes[1].nom }}</span>
                                    </div>
                                    <span class="score">
                                      {{ (item.score is null) ? "0 - 0":item.score }}
                                    </span>
                                </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                        <i class="fa fa-circle text-danger"></i> match en attente ()
                        <i class="fa fa-circle text-warning"></i> match en cours ()
                        <i class="fa fa-circle text-info"></i> match terminé ()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Equipes</h4>
                    <a href="{{path('admin_add_equipe')}}" class="add-new" style="pointer-events: none;">+</a>
                </div>
                <div class="card-body ">
                  {% if tournoi %}
                    <ul class="cart-list-elt">
                      {% for item in tournoi.equipes %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <a class="link-item" href="javascript:void()" title="">
                                    <div class="group-eqp-avt">
                                        <span class="round-equipe-avt">{{ item.nom|last }}</span>
                                        <div>
                                           <span class="panel_texte">{{item.nom}}</span>
                                            <span class="status">
                                              {{ (item.getEnCompetition == 1) ? "":"illiminé" }}
                                            </span>
                                        </div>
                                    </div>
                                    <i class="sa_alert_value nc-icon nc-stre-right"></i>
                                </a>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                                <ul>
                                  {% if item.joueurs is not null %}
                                  {% for joueur in item.joueurs|split(',') %}
                                    <li class="sub-item-list">
                                        <a href="javascript:void()">
                                        <i class="nc-icon nc-stre-right" style="font-size: 8px;margin-right:10px;"></i>{{joueur}}
                                        </a>
                                    </li>
                                  {% endfor %}
                                  {% endif %}
                                </ul>
                                <div class="group-btn-action">
                                    <div>
                                        <a href="{{path('admin_add_equipe', {'id':item.id})}}" class="btn-action btn-edit">editer</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                        <i class="fa fa-circle text-danger"></i> Equipes illiminées (0)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Terrains</h4>
                    <a href="{{path('admin_add_terrain')}}" class="add-new" style="pointer-events: none;">+</a>
                </div>
                <div class="card-body ">
                  {% if tournoi %}
                    <ul class="cart-list-elt">
                      {% for item in tournoi.terrains2 %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <span title="" class="link-item">
                                    <div>
                                        <span class="panel_texte">{{item.nom}}</span>
                                        <span class="status">
                                          {{ (item.occupe == 1) ? "":"occupé" }}
                                        </span>
                                    </div>
                                    <a href="{{path('admin_add_terrain',{'id':item.id})}}" class="sa_alert_value btn-action btn-edit">editer</a>
                                </span>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                        <i class="fa fa-circle text-danger"></i> Terrain occupé ()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">Types tournois</h4>
                    <a href="{{path('admin_add_type_tournoi')}}" class="add-new">+</a>
                </div>
                <div class="card-body ">
                    <ul class="cart-list-elt">
                      {% for item in typeTournois %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <span title="" class="link-item">
                                    <span class="panel_texte">{{item.nom}}</span>
                                    <a href="{{path('admin_add_type_tournoi', {'id':item.id})}}" class="sa_alert_value btn-action btn-edit">editer</a>
                                </span>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Modal form add module -->
            
    <div id="modalFormAdd" class="overlay">
        <div class="popup">
            <a class="close" href="javascript:void()">&times;</a>

            <div class="form-container">
              <img class="loader-form" src="{{asset('images/eclipse-loader.gif')}}">
            </div>
            
            <div class="lds-ripple"><div></div><div></div></div>
            <div class="success-checkmark">
              <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
              </div>
            </div>
        </div>
    </div>  
    <!-- End Modal form add module -->

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
          $('.sidebar-wrapper .nav li').removeClass('active');
          $('.sidebar-wrapper .nav li.dashboard').addClass('active');


            function loadForm($url){
                $.ajax({
                    url: $url,
                    type: "GET",
                    dataType: "json",
                    async: true,
                    data: {},
                    success: function(data, status) {
                      $("#modalFormAdd .form-container").html(data);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                      console.log(errorThrown);
                    }
                });
            }

            $('.add-new, .btn-edit, .add-tournoi, .goto-update-score').click(function(e){
                $('#modalFormAdd').addClass('open');
                var $url = $(this).attr("href");
                loadForm($url, $(this));
                e.preventDefault();
            });


            $('.cart-list-elt .cart_list_item_title').click(function(e) {
                if($(this).hasClass('active')){
                    $(this).removeClass('active').next('.cart_list_item_content').slideUp();
                }
                else{
                    $('.cart-list-elt .cart_list_item_title').removeClass('active');
                    $('.cart-list-elt .cart_list_item_content').slideUp();
                    $(this).addClass('active')
                        .next('.cart_list_item_content')
                        .slideToggle();
                }
                if(!$(this).hasClass('single-menu'))
                    e.preventDefault();
            });
            $('#modalFormAdd .close').click(function(){
                $('#modalFormAdd').removeClass('open');
                $("#modalFormAdd .form-container").html('<img class="loader-form" src="{{asset("images/eclipse-loader.gif")}}">');
            })
        });
    </script>

    <script type="text/javascript">
      var startTime = 0
      var start = 0
      var end = 0
      var diff = 0
      var timerID = 0
      function chronoT(){
        end = new Date()
        diff = end - start
        diff = new Date(diff)
        var msec = diff.getMilliseconds()
        var sec = diff.getSeconds()
        var min = diff.getMinutes()
        var hr = diff.getHours()-1
        if (min < 10){
          min = "0" + min
        }
        if (sec < 10){
          sec = "0" + sec
        }
        if(msec < 10){
          msec = "00" +msec
        }
        else if(msec < 100){
          msec = "0" +msec
        }
        document.getElementById("chronotimetour").innerHTML  = hr + ":" + min + ":" + sec/* + ":" + msec*/
        timerID = setTimeout("chronoT()", 10)
      }
      function chronoStartT(){
        document.chronoFormTour.startstop.value = "stop!"
        document.chronoFormTour.startstop.onclick = chronoStop
        document.chronoFormTour.reset.onclick = chronoReset
        start = new Date()
        chronoT()
      }
      function chronoContinueT(){
        document.chronoFormTour.startstop.value = "stop!"
        document.chronoFormTour.startstop.onclick = chronoStop
        document.chronoFormTour.reset.onclick = chronoReset
        start = new Date()-diff
        start = new Date(start)
        chrono()
      }
      function chronoResetT(){
        document.getElementById("chronotimetour").innerHTML  = "0:00:00:000"
        start = new Date()
      }
      function chronoStopResetT(){
        document.getElementById("chronotimetour").innerHTML  = "0:00:00:000"
        document.chronoFormTour.startstop.onclick = chronoStart
      }
      function chronoStopT(){
        document.chronoFormTour.startstop.value = "start!"
        document.chronoFormTour.startstop.onclick = chronoContinue
        document.chronoFormTour.reset.onclick = chronoStopReset
        clearTimeout(timerID)
      }

      $(document).ready(function(){
        {% if (tournoi.getDateDebut is not null) and (tournoi.etat != "termine") %}
          chronoStartT();
          chronoStart();
        {% endif %}
        {% if demieFinale_finale %}
          demo.showNotification.info("{{ demieFinale_finale|replace({'_': " "})}}");
        {% endif %}
        {% if tournoi.etat == "termine" %}
          demo.showNotification.info("Ce tournoi est terminé");
        {% endif %}
      });
    </script>
{% endblock %}