
{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} - Tableau de bord {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style type="text/css">

    </style>
{% endblock %}
{% block page_title %}
    {% if tournoi %}
      {{tournoi.nom}} <small>- {{tournoi.type.nom}}</small>
    {% endif %}
{% endblock %}
{% block id_tournoi %}{{tournoi.id}}{% endblock %}
{% block tournoi_etat %}{{tournoi.etat}}{% endblock %}
{% block current_page %}{{page}}{% endblock %}
{#{% block date_debut %}{{tournoi.dateDebut|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{dateFin}}{% endblock %}#}
{% block date_debut %}{{debutPassage|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{FinPassage|date('Y-m-d H:i:s')}}{% endblock %}

{% block admin_content %}
  
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin-bottom:6px">
          <div class="card-header" style="padding-top: 10px;">
              <h4 class="card-title" style="text-align: left;font-size: 19px; display:inline-block">Estimation initiale du tournoi <small>{{ tournoi ? tournoi.duree : ""}} minutes</small></h4>
              <div class="group-btn-shar-to-screen">
                  {% if tournoi.actif == 1 %}
                    <a href="{{path('annuler_tournoi',{'id':tournoi.id})}}" target="_blank" class="call-action">Annuler tournoi<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  {% else %}
                    <span class="alert alert-warning">Tournoi annulé</span>
                  {% endif %}
                  <a href="{{path('client_homepage',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecran jeu<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  <a href="{{path('client_resultat_tournoi',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecran scores<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  {% if tournoi.getDateDebut is not null %}
                    <a href="{{path('client_match_en_attente',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecran matchs en attente<i class="nc-icon nc-stre-right" style="font-weight: bold;"></i></a>
                  {% endif %}
                  
              </div>
          </div>
          <div class="card-body head-estimation">
            {% if tournoi %}
              <div class="legend" style="font-size: 14px">
                  <i class="fa fa-circle text-danger"></i> <b>{{tournoi.getNbrTour}} Tours</b> 
                  <i class="fa fa-circle text-info"></i> <b>{{nbr_passage}} Passages</b> 
                  <i class="fa fa-circle text-warning"></i> <b>{{dureePassage}} minutes / match </b> 
                  <i class="fa fa-circle text-info"></i> <b>{{nbrMatch}} Matchs</b> 
                  
              </div>
              {% if (tournoi.getDateDebut is not null) and (tournoi.etat != "termine") %}
                <form name="chronoForm" class="chronotime-wrapper">
                  <h3 id="chronotime" style="margin-top: 5px">0:00:00</h3>
                </form>
              {% endif %}
              {% if tournoi.getDateDebut is null %}
                <a href="{{path('tournoi_launch',{'id':tournoi.id})}}" class="btn-demarrer-tournoi">Demarrer le tournoi</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card evolution-match">
                <div class="card-header ">
                    <h4 class="card-title" style="text-align: left;display: inline-block;">
                      <span>Evolution match</span>
                    </h4>
                    <div class="clearfix"></div>
                    {% if demieFinale_finale %}
                      <p class="card-category demiefinale-finale">
                        {{ demieFinale_finale|replace({'_': " "})}}
                      </p>
                    {% endif %}
                </div>
                <div class="card-body ">
                    <div class="cart-body-content">
                      {% if tournoi %}
                        {% if (tournoi.getDateDebut is not null) and (tournoi.etat != "termine") %}
                        <div class="timmer-tour-wrapper chronotime-wrapper">
                          <span style="font-size: 17px;">
                          <span class="current-tour">
                            {{tournoi.getCurrentTour}}<sup class="rang">e</sup>
                          </span>/ {{tournoi.getNbrTour}}<span style="font-size: 12px;">tours</span>
                          </span><br>
                          <span class="timmer-tour" style="display:none">
                            <form name="chronoFormTour" class="chronotime">
                              <h3 id="chronotimetour" style="margin-top: 5px;font-size: 20px;">0:00:00</h3>
                              <input type="button" name="startstop" value="start!" onClick="chronoStartT()" style="display: none;" />
                              <input type="button" name="reset" value="reset!" onClick="chronoResetT()" style="display: none;" />
                            </form>
                          </span>
                          {% if matchs[0].etat == "en_cours" %}
                            <a class="btn-next-tour reload" style="" href="{{path('goto_next_tour',{'id':tournoi.id})}}">
                              {% if demieFinale_finale == "finale" %}
                                terminer le tournois
                              {% else %}
                                Valider ce passage 
                              {% endif %}
                              <i class="nc-icon nc-stre-right" style="font-weight: bold"></i>
                            </a>
                          {% elseif matchs[0].etat == "en_attente" %}
                            <a class="btn-next-tour reload" style="" href="{{path('tour_launch',{'id':tournoi.id})}}">Demarrer
                            </a>
                          {% endif %}
                        </div>
                        {% elseif tournoi.etat == "termine" %}
                          <h2  style="color:#333;font-size: 23px;text-align: center;">Tournois terminé</h2>
                          <div class="winner-wrapper" style="color: #333333">
                            <img src="{{asset('images/trophee.png')}}" style="display: block;margin: auto;max-width: 200px;">
                            <div class="equipe-winner-name" style="font-size: 18px; text-align: center;">
                              Vainqueur: <b style="text-transform: uppercase;">{{ winner.nom }}</b>
                              <div class="score"></div>
                            </div>
                          </div>
                        {% endif %}
                        <ul class="list-match">
                          {% for item in matchs %}
                            <li class="match-item {{item.etat}}">
                                <div class="status-match">{{ item.etat |replace({'_': " "}) }}</div>
                                <a class="match-content goto-update-score" href="{{path('update_score', {'id':item.id})}}" data-score="{{item.score}}" data-equipe="{{item.equipes[0].nom}}-{{item.equipes[1].nom}}" {% if item.etat != "en_cours" %} style="pointer-events: none;" {% endif %}>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[0].nom|last }}</span>
                                        <span class="nom-equipe">{{item.equipes[0].nom}}</span>
                                    </div>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[1].nom|last }}</span>
                                        <span class="nom-equipe">{{ item.equipes[1].nom }}</span>
                                    </div>
                                    <span class="score">
                                      {{ (item.score is null) ? "0 - 0":item.score }}
                                    </span>
                                </a>
                                <div class="status-match" style="margin-top: 13px;">
                                  {% if item.getDateDebut is not null %}
                                    {{ item.getDateDebut | date('H:i') }} - {{ item.getDateFin | date('H:i') }}
                                  {% endif %}
                                </div>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Equipes</h4>
                    <a href="javascript:void()" class="add-new" style="pointer-events: none;">+</a>
                </div>
                <div class="card-body ">
                  {% if tournoi %}
                    <ul class="cart-list-elt">
                      {% for item in tournoi.equipes %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <a class="link-item" href="javascript:void()" title="">
                                    <div class="group-eqp-avt">
                                        <span class="round-equipe-avt">{{ item.nom|last }}</span>
                                        <div>
                                           <span class="panel_texte">{{item.nom}}</span>
                                            <span class="status">
                                              {{ (item.getEnCompetition == 1) ? "":"illiminé" }}
                                            </span>
                                        </div>
                                    </div>
                                    <i class="sa_alert_value nc-icon nc-stre-right"></i>
                                </a>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                                
                                {% if item.joueurs2|length %}
                                <div class="widget-content widget-content-area">
                                  <div class="table-responsive">
                                      <table class="table table-bordered mb-4">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Email</th>
                                                <th>Téléphone</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for joueur in item.joueurs2 %}
                                            <tr>
                                                <td>{{ joueur.nom }}</td>
                                                <td>{{ joueur.email }}</td>
                                                <td>{{ joueur.telephone }}</td>
                                                <td class="text-center">
                                                  <a href="{{path('admin_add_equipe', {'equipe_id':item.id, 'id':joueur.id})}}" class="btn-action btn-edit">Modifier</a>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                  </div>
                                </div>
                                {% else %}
                                  <h3 style="text-align:center">Pas de joueur pour le moment</h3>
                                {% endif %}
                                <div class="group-btn-action">
                                    <div>
                                        <a href="{{path('admin_add_equipe', {'equipe_id':item.id})}}" class="btn-action btn-edit">Ajouter</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Terrains</h4>
                    <a href="{{path('admin_add_terrain')}}" class="add-new" style="pointer-events: none;">+</a>
                </div>
                <div class="card-body ">
                  {% if tournoi %}
                    <ul class="cart-list-elt">
                      {% for item in tournoi.terrains2 %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <span title="" class="link-item">
                                    <div>
                                        <span class="panel_texte">{{item.nom}}</span>
                                        {#<span class="status">
                                          {{ (item.occupe == 1) ? "":"occupé" }}
                                        </span>#}
                                    </div>
                                    <a href="{{path('admin_add_terrain',{'id':item.id})}}" class="sa_alert_value btn-action btn-edit">editer</a>
                                </span>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">Types tournois</h4>
                    <a href="{{path('admin_add_type_tournoi')}}" class="add-new">+</a>
                </div>
                <div class="card-body ">
                    <ul class="cart-list-elt">
                      {% for item in typeTournois %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <span title="" class="link-item">
                                    <span class="panel_texte">{{item.nom}}</span>
                                    <a href="{{path('admin_add_type_tournoi', {'id':item.id})}}" class="sa_alert_value btn-action btn-edit">editer</a>
                                </span>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Modal form add module -->
            
    <div id="modalFormAdd" class="overlay">
        <div class="popup">
            <a class="close" href="javascript:void()">&times;</a>

            <div class="form-container">
              <img class="loader-form" src="{{asset('images/eclipse-loader.gif')}}">
            </div>
            
            <div class="lds-ripple"><div></div><div></div></div>
            <div class="success-checkmark">
              <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
              </div>
            </div>
        </div>
    </div>  
    <!-- End Modal form add module -->

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
          $('.sidebar-wrapper .nav li').removeClass('active');
          $('.sidebar-wrapper .nav li.dashboard').addClass('active');

          $('.btn-next-tour.reload').click(function(e) {
            /*storageDate = JSON.parse(localStorage.getItem("tournoi_"+$idTournoi));
            storageDate.relaodPage = 1;
            localStorage.setItem("tournoi_"+$idTournoi, JSON.stringify(storageDate)); */
            localStorage.removeItem("tournoi_"+$idTournoi);
          });

            function loadForm($url){
                $.ajax({
                    url: $url,
                    type: "GET",
                    dataType: "json",
                    async: true,
                    data: {},
                    success: function(data, status) {
                      $("#modalFormAdd .form-container").html(data);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                      console.log(errorThrown);
                    }
                });
            }

            $('.add-new, .btn-edit, .add-tournoi, .goto-update-score').click(function(e){
                $('#modalFormAdd').addClass('open');
                var $url = $(this).attr("href");
                loadForm($url, $(this));
                e.preventDefault();
            });


            $('.cart-list-elt .cart_list_item_title').click(function(e) {
                if($(this).hasClass('active')){
                    $(this).removeClass('active').next('.cart_list_item_content').slideUp();
                }
                else{
                    $('.cart-list-elt .cart_list_item_title').removeClass('active');
                    $('.cart-list-elt .cart_list_item_content').slideUp();
                    $(this).addClass('active')
                        .next('.cart_list_item_content')
                        .slideToggle();
                }
                if(!$(this).hasClass('single-menu'))
                    e.preventDefault();
            });
            $('#modalFormAdd .close').click(function(){
                $('#modalFormAdd').removeClass('open');
                $("#modalFormAdd .form-container").html('<img class="loader-form" src="{{asset("images/eclipse-loader.gif")}}">');
            })
        });
    </script>

    <script type="text/javascript">

      $(document).ready(function(){
        $(window).bind("load", function() {
          {% if tournoi and (tournoi.etat == "en_cours") %}
            /*chronoStartT();*/
            /*chronoStart();*/
          {% endif %}
        });

        {% if demieFinale_finale %}
          demo.showNotification.info("{{ demieFinale_finale|replace({'_': " "})}}");
        {% endif %}
        {% if tournoi and (tournoi.etat == "termine") %}
          toastr.info("Ce tournoi est terminé");
        {% endif %}
      });
    </script>
{% endblock %}