
{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} - Tableau de bord {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style type="text/css">
      .cart-body-content .match-item .equipe.winner {
        background: #075d07!important;
      }
      .navbar-expand-lg .navbar-nav{display: flex;}
    </style>
{% endblock %}
{% block page_title %}
    {% if tournoi %}
      {{tournoi.nom}} <small>- {{tournoi.type.nom}}</small>
    {% endif %}
{% endblock %}
{% block id_tournoi %}{{tournoi.id}}{% endblock %}
{% block tournoi_etat %}{{tournoi.etat}}{% endblock %}
{% block current_page %}{{page}}{% endblock %}
{#{% block date_debut %}{{tournoi.dateDebut|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{dateFin}}{% endblock %}#}
{% block date_end_tournoi %}{{dateFinTournoi|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_debut %}{{debutPassage|date('Y-m-d H:i:s')}}{% endblock %}
{% block date_end %}{{ (FinPassage is null) ?  "" : FinPassage|date('Y-m-d H:i:s') }}{% endblock %}
{% block first_match_playing_id %}{{first_match_playing_id}}{% endblock %}

{% block admin_content %}
  
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin-bottom:6px">
          <div class="card-header" style="padding-top: 10px;">
              <h4 class="card-title" style="text-align: left;font-size: 19px; display:inline-block">Partie libre</h4>
              <div class="group-btn-shar-to-screen">
                  {% if tournoi.etat != "termine" %}
                    <a class="btn-next-tour reload call-action" href="{{path('cloturer_tournois',{'id':tournoi.id})}}" style="margin-right: 4px;color:#dc3545">Cloturer le tournois</a>
                  {% endif %}
                  {% if tournoi.actif == 1 %}
                    <a href="{{path('annuler_tournoi',{'id':tournoi.id})}}" target="_blank" class="call-action" style="background: #35426d;">Annuler tournoi<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  {% else %}
                    <span class="alert alert-warning">Tournoi annulé</span>
                  {% endif %}
                  <a href="{{path('tournois_screen',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecrans jeux<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  {#<!--
                  <a href="{{path('client_resultat_tournoi',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecran scores<i class="nc-icon nc-stre-right" style="font-weight: bold"></i></a>
                  {% if tournoi.getDateDebut is not null %}
                    <a href="{{path('client_match_en_attente',{'id':tournoi.id})}}" target="_blank" class="call-action">Ecran matchs en attente<i class="nc-icon nc-stre-right" style="font-weight: bold;"></i></a>
                  {% endif %}-->#}
                  
              </div>
          </div>
          <div class="card-body head-estimation" style="display:block; text-align:right">
            {% if tournoi %}
              {% if (tournoi.getDateDebut is not null) %}
                <h3 id="chronotime" style="margin-top: 5px">00:00:00</h3>
              {% endif %}
              {% if tournoi.getDateDebut is null %}
                <a href="{{path('demarrer_match_libre',{'id':tournoi.id})}}" class="btn-demarrer-tournoi" style="margin-top: 13px;display: inline-block;">Demarrer la partie</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card evolution-match">
                <div class="card-header ">
                    <h4 class="card-title" style="text-align: left;display: inline-block;">
                      <span>Evolution match</span>
                    </h4>
                    {% if tournoi.getDateDebut is not null and matchs|length >= 2 %}
                    <a class="btn-next-tour reload call-action" href="{{path('demarrer_match_next_libre',{'id':tournoi.id})}}" style="float: right;margin-right: 6px;">Demarrer prochain match</a>
                    {% endif %}
                    {% if tournoi.getDateDebut is not null and matchs|length == 1 %}
                    <a class="btn-next-tour reload call-action" href="{{path('demarrer_match_next_libre',{'id':tournoi.id})}}" style="float: right;">Fin de la partie</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="cart-body-content">
                      {% if tournoi.getDateDebut is not null and matchs|length == 0 and tournoi.etat != "termine" %}
                        <h3 style="text-align:center; color:#333333">Aucun match en attente</h3>
                      {% elseif tournoi.etat == "termine" %}
                        <h3 style="text-align:center; color:#333333">Competition Terminée</h3>
                      {% endif %}

                      {% if tournoi.etat != "termine" and tournoi.type.referent == 'libre' %}
                        <div style="text-align: center;margin-top: 40px;">
                          <a href="{{path('admin_add_joueur_tournois',{'tournoi_id':tournoi.id})}}" class="call-action add-new" style="display:none">+ Plus de joueurs</a>    
                          <a class="btn-next-tour reload call-action" href="{{path('cloturer_tournois',{'id':tournoi.id})}}" style="margin-right: 4px;color:#dc3545">Cloturer le tournois</a>
                        </div>
                      {% endif %}

                      {% if tournoi %}
                        <ul class="list-match">
                          {% for item in matchs %}
                            <li class="match-item {{item.etat}}">
                                <div class="status-match">{{ item.etat |replace({'_': " "}) }}</div>
                                <a class="match-content goto-update-score" href="{{path('update_score', {'id':item.id})}}" data-score="{{item.score}}" data-equipe="{{item.equipes[0].nom}}-{{item.equipes[1].nom}}" {% if item.etat != "en_cours" %} style="pointer-events: none;" {% endif %}>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[0].nom|last }}</span>
                                        <span class="nom-equipe">{{item.equipes[0].nom}}</span>
                                    </div>
                                    <div class="equipe equipe-1">
                                        <span class="avt-equipe">{{ item.equipes[1].nom|last }}</span>
                                        <span class="nom-equipe">{{ item.equipes[1].nom }}</span>
                                    </div>
                                    <span class="score">
                                      {{ (item.score is null) ? "0 - 0":item.score }}
                                    </span>
                                </a>
                                <div class="status-match" style="margin-top: 13px;">
                                  {% if item.getDateDebut is not null %}
                                    {{ item.getDateDebut | date('H:i') }} - {{ item.getDateFin | date('H:i') }}
                                  {% endif %}
                                </div>
                            </li>
                          {% endfor %}
                        </ul>
                        {% if matchsHistorique|length %}
                          <hr>
                          <h3 style="color: #333;text-align: center;">Historique des matchs terminés</h3>
                          <ul class="list-match historique-match-pass" style="padding-top: 6px;">
                            {% for item in matchsHistorique %}
                              <li class="match-item {{item.etat}}">
                                  <div class="status-match">{{ item.etat |replace({'_': " "}) }}</div>
                                  <a class="match-content goto-update-score" href="{{path('update_score', {'id':item.id})}}" data-score="{{item.score}}" data-equipe="{{item.equipes[0].nom}}-{{item.equipes[1].nom}}" {% if item.etat != "en_cours" %} style="pointer-events: none;" {% endif %}>
                                      <div class="equipe equipe-1 {% if item.vainqueur == item.equipes[0].id %}winner{% endif %}">
                                          <span class="avt-equipe">{{ item.equipes[0].nom|last }}</span>
                                          <span class="nom-equipe">{{item.equipes[0].nom}}</span>
                                      </div>
                                      <div class="equipe equipe-1 {% if item.vainqueur == item.equipes[1].id %}winner{% endif %}">
                                          <span class="avt-equipe">{{ item.equipes[1].nom|last }}</span>
                                          <span class="nom-equipe">{{ item.equipes[1].nom }}</span>
                                      </div>
                                      <span class="score">
                                        {{ (item.score is null) ? "0 - 0":item.score }}
                                      </span>
                                  </a>
                                  <div class="status-match" style="margin-top: 13px;">
                                    {% if item.getDateDebut is not null %}
                                      {{ item.getDateDebut | date('H:i') }} - {{ item.getDateFin | date('H:i') }}
                                    {% endif %}
                                  </div>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endif %}
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Equipes</h4>
                    <a href="javascript:void()" class="add-new" style="pointer-events:none">+</a>
                </div>
                <div class="card-body ">
                  {% if tournoi %}
                    <ul class="cart-list-elt">
                      {% for item in tournoi.equipes %}
                        <li class="cart_list_item">
                            <div class="cart_list_item_title">
                                <a class="link-item" href="javascript:void()" title="">
                                    <div class="group-eqp-avt">
                                        <span class="round-equipe-avt">{{ item.nom|last }}</span>
                                        <div>
                                           <span class="panel_texte">{{item.nom}}</span>
                                            <span class="status">
                                              {{ (item.getEnCompetition == 1) ? "":"illiminé" }}
                                            </span>
                                        </div>
                                    </div>
                                    <i class="sa_alert_value nc-icon nc-stre-right"></i>
                                </a>
                            </div>
                            <div class="cart_list_item_content" style="display:none;">
                                
                                {% if item.joueurs2|length %}
                                <div class="widget-content widget-content-area">
                                  <div class="table-responsive">
                                      <table class="table table-bordered mb-4">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Email</th>
                                                <th>Téléphone</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for joueur in item.joueurs2 %}
                                            <tr>
                                                <td>{{ joueur.nom }}</td>
                                                <td>{{ joueur.email }}</td>
                                                <td>{{ joueur.telephone }}</td>
                                                <td class="text-center">
                                                  <a href="{{path('admin_add_joueur_equipe', {'equipe_id':item.id, 'id':joueur.id})}}" class="btn-action btn-edit">Modifier</a>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                  </div>
                                </div>
                                {% else %}
                                  <h3 style="text-align:center">Pas de joueur pour le moment</h3>
                                {% endif %}
                                <div class="group-btn-action">
                                    <div>
                                        <a href="{{path('admin_add_joueur_equipe', {'equipe_id':item.id})}}" class="btn-action btn-edit">Ajouter</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="legend">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Modal form add module -->
            
    <div id="modalFormAdd" class="overlay">
        <div class="popup">
            <a class="close" href="javascript:void()">&times;</a>

            <div class="form-container">
              <img class="loader-form" src="{{asset('images/eclipse-loader.gif')}}">
            </div>
            
            <div class="lds-ripple"><div></div><div></div></div>
            <div class="success-checkmark">
              <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
              </div>
            </div>
        </div>
    </div>  
    <!-- End Modal form add module -->

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
          $('.sidebar-wrapper .nav li').removeClass('active');
          $('.sidebar-wrapper .nav li.dashboard').addClass('active');

          $('.btn-next-tour.reload').click(function(e) {
            /*storageDate = JSON.parse(localStorage.getItem("tournoi_"+$idTournoi));
            storageDate.relaodPage = 1;
            localStorage.setItem("tournoi_"+$idTournoi, JSON.stringify(storageDate)); */
            localStorage.removeItem("tournoi_"+$idTournoi);
          });

            function loadForm($url){
                $.ajax({
                    url: $url,
                    type: "GET",
                    dataType: "json",
                    async: true,
                    data: {},
                    success: function(data, status) {
                      $("#modalFormAdd .form-container").html(data);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                      console.log(errorThrown);
                    }
                });
            }

            $('.add-new, .btn-edit, .add-tournoi, .goto-update-score').click(function(e){
                $('#modalFormAdd').addClass('open');
                var $url = $(this).attr("href");
                loadForm($url, $(this));
                e.preventDefault();
            });


            $('.cart-list-elt .cart_list_item_title').click(function(e) {
                if($(this).hasClass('active')){
                    $(this).removeClass('active').next('.cart_list_item_content').slideUp();
                }
                else{
                    $('.cart-list-elt .cart_list_item_title').removeClass('active');
                    $('.cart-list-elt .cart_list_item_content').slideUp();
                    $(this).addClass('active')
                        .next('.cart_list_item_content')
                        .slideToggle();
                }
                if(!$(this).hasClass('single-menu'))
                    e.preventDefault();
            });
            $('#modalFormAdd .close').click(function(){
                $('#modalFormAdd').removeClass('open');
                $("#modalFormAdd .form-container").html('<img class="loader-form" src="{{asset("images/eclipse-loader.gif")}}">');
            })
        });
    </script>

    <script type="text/javascript">

      $(document).ready(function(){
        $(window).bind("load", function() {
          {% if tournoi and (tournoi.etat == "en_cours") %}
          {% endif %}
        });

        {% if tournoi and (tournoi.etat == "termine") %}
          toastr.info("Ce tournoi est terminé");
        {% endif %}
      });
    </script>
{% endblock %}