<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tournoi - boulle!{% endblock %}</title>
        <meta charset="utf-8" />
	    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="{{ asset('assets/toastr/toastr.min.css') }}"/>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
	    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
	    <link href="{{asset('assets/css/base.css')}}" rel="stylesheet" />
	    <style type="text/css">
			.blinking{
			    animation:blinkingText 1.4s infinite;
			}
			@keyframes blinkingText{
			    0%{     color: #fff;    }
			    79%{    color: #fff; }
			    80%{    color: transparent; }
			    99%{    color:transparent;  }
			    100%{   color: #fff;    }
			}
	    </style>
	    {% block stylesheets %}{% endblock %}
    </head>
    <body data-base-url="{{url('base_url')}}" 
    	  data-tournoi-id="{% block id_tournoi %}{% endblock %}"
    	  data-tournoi-etat="{% block tournoi_etat %}{% endblock %}"
    	  data-date-end="{% block date_end %}{% endblock %}"
    	  data-date-debut="{% block date_debut %}{% endblock %}"
    	  data-current-page="{% block current_page %}{% endblock %}"
    	 >

    	{% block body %}{% endblock %}

    </body>    

    <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('assets/toastr/toastr.min.js') }}"></script>
    <script type="text/javascript">

    	$idTournoi = $('body').data('tournoi-id');
    	$etatTournoi = $('body').data('tournoi-etat');
    	$dateEnd = $('body').data('date-end');
    	$dateDebut = $('body').data('date-debut');
    	$isEnd = false; // test de fin du mactch dans l'evolution du chrono
    	$countSecond = 0;

		var start = 0
		var end = 0
		var diff = 0
		var timerID = 0
        var storageDate = {};

		{#/*localStorage.removeItem("tournoi_"+$idTournoi);*/#}
		
		$(window).bind("load", function() {
		   	if($etatTournoi == "en_cours"){
		   		chronoStart();
		   		intervalId = setInterval(chrono, 1000);
		   	}
		});
        function initCrono(){
            if(localStorage.getItem("tournoi_"+$idTournoi)){
                storageDate = JSON.parse(localStorage.getItem("tournoi_"+$idTournoi));
                start = new Date(storageDate.date_debut);
                end = new Date();
            }
            else{
                var dataInfo = {tournoi:"tournoi_"+$idTournoi, date_debut: $dateDebut, date_fin: $dateEnd, relaodPage:0};
                localStorage.setItem("tournoi_"+$idTournoi, JSON.stringify(dataInfo));
                storageDate = JSON.parse(localStorage.getItem("tournoi_"+$idTournoi)); 
                start = new Date($dateDebut);
            }
        }
		function chrono(){
			storageDate = JSON.parse(localStorage.getItem("tournoi_"+$idTournoi));
			if(storageDate.relaodPage && ($('body').data('current-page') != "dashboard" ) ){
				setTimeout(function(){
					localStorage.removeItem("tournoi_"+$idTournoi);
					window.location.reload(true);
				},2000);
			}
			end = new Date()
			diff = end - start
			diff = new Date(diff)
			var msec = diff.getMilliseconds()
			var sec = diff.getSeconds()
			var min = diff.getMinutes()
			var hr = diff.getHours()-1
			if (hr < 10){
				hr = "0" + hr
			}
			if (min < 10){
				min = "0" + min
			}
			if (sec < 10){
				sec = "0" + sec
			}
			if(msec < 10){
				msec = "00" +msec
			}
			else if(msec < 100){
				msec = "0" +msec
			}
			var diffDeadline = new Date(new Date(storageDate.date_fin) - new Date());
			var deadlineMinute = (diffDeadline.getHours()-1)*60 + diffDeadline.getMinutes();

			if( (new Date() >= new Date(storageDate.date_fin)) && (storageDate.date_debut != storageDate.date_fin) ){
				var local_diff_date = new Date(new Date(storageDate.date_fin) - new Date(storageDate.date_debut));
				var sec2 = local_diff_date.getSeconds()
				var min2 = local_diff_date.getMinutes()
				var hr2 = local_diff_date.getHours()-1
				if (hr2 < 10){
					hr2 = "0" + hr2
				}
				if (min2 < 10){
					min2 = "0" + min2
				}
				if (sec2 < 10){
					sec2 = "0" + sec2
				}
				document.getElementById("chronotime").innerHTML  = hr2 + ":" + min2 + ":" + sec2;
				
				$countSecond++;
				if(!$isEnd){
					toastr.warning("CE PASSAGE EST TERMINE");
					$isEnd = true;
				}
				else if($countSecond >= 45){
					toastr.warning("Ce passage devrait etre terminé il y a "+Math.abs(deadlineMinute)+" minutes");
					$countSecond = 0;
				}
				//clearInterval(intervalId);
				//localStorage.removeItem("tournoi_"+$idTournoi);
				/*$('.cart-body-content .match-item').addClass('end_match');*/
				/*$('.cart-body-content .match-item .status-match').html('Terminé');*/
				
				//window.location.reload(true);
				$('#chronotime').removeClass('blinking');
			}
			else{
				document.getElementById("chronotime").innerHTML  = hr + ":" + min + ":" + sec;
				if( deadlineMinute >= 0 && deadlineMinute <= 2 ){
					$('#chronotime').addClass('blinking');
				}
			}
			if( storageDate.date_debut == storageDate.date_fin){
				document.getElementById("chronotime").innerHTML  = "00:00:00";
			}
		}
		function chronoStart(){
			initCrono();
			chrono();
		}
		function chronoContinue(){
			document.chronoForm.startstop.value = "stop!"
			document.chronoForm.startstop.onclick = chronoStop
			document.chronoForm.reset.onclick = chronoReset
			start = new Date()-diff
			start = new Date(start)
			chrono()
		}
		function chronoReset(){
			document.getElementById("chronotime").innerHTML  = "0:00:00:000"
			start = new Date()
		}
		function chronoStopReset(){
			document.getElementById("chronotime").innerHTML  = "0:00:00:000"
			document.chronoForm.startstop.onclick = chronoStart
		}
		function chronoStop(){
			document.chronoForm.startstop.value = "start!"
			document.chronoForm.startstop.onclick = chronoContinue
			document.chronoForm.reset.onclick = chronoStopReset
			clearInterval(intervalId);
		}
    </script>
    {% block javascripts %}{% endblock %}
</html>
