<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tournoi - boulle!{% endblock %}</title>
        <meta charset="utf-8" />
	    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="{{ asset('assets/toastr/toastr.min.css') }}"/>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
	    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" />
	    <link href="{{asset('assets/css/base.css')}}" rel="stylesheet" />

	    <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
	    <style type="text/css">
			.blinking{
			    animation:blinkingText 1.4s infinite;
			}
			@keyframes blinkingText{
			    0%{     color: #fff;    }
			    79%{    color: #fff; }
			    80%{    color: transparent; }
			    99%{    color:transparent;  }
			    100%{   color: #fff;    }
			}
	    </style>
	    {% block stylesheets %}{% endblock %}
    </head>
    <body data-base-url="{{url('base_url')}}" 
    	  data-tournoi-id="{% block id_tournoi %}{% endblock %}"
    	  data-tournoi-etat="{% block tournoi_etat %}{% endblock %}"
    	  data-date-end="{% block date_end %}{% endblock %}" {# Fin partie #}
    	  data-date-end-tournoi="{% block date_end_tournoi %}{% endblock %}"
    	  data-date-debut="{% block date_debut %}{% endblock %}"
    	  data-current-page="{% block current_page %}{% endblock %}"
    	  data-first-match-playing-id="{% block first_match_playing_id %}{% endblock %}"
    	 >

    	{% block body %}{% endblock %}

    </body>    

    <script src="{{ asset('assets/toastr/toastr.min.js') }}"></script>
    
    {% block javascripts %}{% endblock %}

    <script type="text/javascript">
    	isObjectEmpty = function(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        };

		$idTournoi = $('body').data('tournoi-id');
		$etatTournoi = $('body').data('tournoi-etat');
		$dateEnd = $('body').data('date-end');
		$firstMatchPlayingId = $('body').data('first-match-playing-id');
		var countDownDate = new Date($dateEnd).getTime();  
		var stopCrono = 0;    
		{#/*localStorage.removeItem("tournoi_"+$idTournoi);*/#}
		$(window).bind("load", function() {
		  if($etatTournoi == "en_cours"){
		    runCrono(countDownDate);
		    if(($('body').data('current-page') != "dashboard"))
		    	getFirstMatchPlayingId($idTournoi);
		  }
		  else if($etatTournoi == "en_attente"){
		  	getFirstMatchPlayingId($idTournoi);
		  }
		});
	    function runCrono(countDownDate){
	        var x = setInterval(function() {
	          var now = new Date().getTime();
	          var distance = countDownDate - now;
	          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	          document.getElementById("chronotime").innerHTML = hours + ":"
	          + minutes + ":" + seconds;

	          var distanceDate = new Date(distance);
	          var deadlineSeconde = (distanceDate.getHours()-1)*3600 + distanceDate.getMinutes()*60 + distanceDate.getSeconds();
	          if( !$('#chronotime').hasClass('blinking') && deadlineSeconde >0 && deadlineSeconde <= 90){
	            $('#chronotime').addClass('blinking');
	          }

	          if (distance < 0) {
	            clearInterval(x);
	            toastr.warning("CE PASSAGE EST TERMINE");
	            document.getElementById("chronotime").innerHTML = "00:00:00";
	            stopCrono = 1;
	          }
	        }, 1000);        
	    }
	    
	    function getFirstMatchPlayingId(idTournoi){
	    	var y = setInterval(function() {
		    	$.ajax({
		            type: "GET",
		            url: $('body').data('base-url')+"first-match-playing-id",
		            data:{
		                tournoi_id: idTournoi,
		            },
		            success : function(resultat, statut) {
		                if(resultat.statut == 200 && !isObjectEmpty(resultat.data) && resultat.data.id != $firstMatchPlayingId){
		                	if(resultat.data.etat_tournoi == "termine")
		                		clearInterval(y);

		                	$firstMatchPlayingId = resultat.data.id;
		                	window.location.reload(true);
		                	/*countDownDate = new Date($resultat.data.dateEnd).getTime();
		                	if (!stopCrono)
		                		runCrono(countDownDate);*/
		                }
		            },
		            error:function(resultat, statut, erreur){
		                console.log('error get data');
		            }
		        });
		        /*if (stopCrono) {
		        	clearInterval(y);
		        }*/
		    }, 10000);
	    }

    </script>
</html>
